#gkriniarisTable td {width: 3em; height: 3em; border: solid black 1px; text-align: center;}
#gkriniaris {border-collapse: collapse;}
td.B_square {background-color:blue;}
td.G_square {background-color:green;}
td.Y_square {background-color:yellow;}
td.R_square {background-color:red;}
td.W_square {background-color:white;}
td.GR_square {background: color #b8b8b8;}
img.piece {width: 2.1em; height: 2.8em;}






