#gkriniarisTable td {width: 3em; height: 3em; border: solid black 1px; text-align: center;}
#gkriniaris {border-collapse: collapse;}
TD.B_square {background-color:blue;}
TD.G_square {background-color:green;}
TD.Y_square {background-color:yellow;}
TD.R_square {background-color:red;}
TD.W_square {background-color:white;}
TD.GR_square {background-color: #b8b8b8;}
IMG.piece {width: 2.1em; height: 2.8em;}

.row{
    display:flex;
    column-gap: 20px;
    position: relative;
}


.dice{
    width: 100%;
    height: 70%;
    display: block;
    position: relative;
    overflow: hidden;


}






